<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- <mapping class="com.kjq.erp.model.Group"/> -->
		<mapping class="com.kjq.erp.model.Menu"/>
		<mapping class="com.kjq.erp.model.Role" />
		<mapping class="com.kjq.erp.model.User" />
		<mapping class="com.kjq.erp.model.Department" />
		<mapping class="com.kjq.erp.model.Position" />
		<mapping class="com.kjq.erp.model.Signin" />
		<mapping class="com.kjq.erp.model.Notepad" />
	</session-factory>
</hibernate-configuration>