*{
    margin: 0px;
    padding: 0px;
}
html,body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
}

.calendar{
    width: 100%;
    min-height: 400px;
    min-width: 270px;
}

.date-control-header,.date-control-footer{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.date-control-header .control-list{
    text-align: left;
}

.date-control-header{
    position: relative;
    border-bottom: 3px solid #ff6c60;
    font-size: 15px;
}

.date-add{
    position: absolute;
    right: 0px;
    bottom: 1px;
    font-size: 25px;
}

.date-add:hover{
    cursor: pointer;
    color: #ff6c60;
}

.date-control-footer{
    font-size: 12px;
    text-align: right;
    border-top: 3px solid #ff6c60;
}


.date-control-header ul,.date-control-footer ul{
    list-style: none;
}

.date-control-header .control-button{
    margin-bottom: 5px;
}
.date-control-header .control-button *{
    width: 25%;
}

.date-control-header ul li{
    display: inline-block;
    margin-right: 10px;
}

.calendar table{
    width: 100%;
    height: 100%;
    text-align: left;
}

.week-title td{
    line-height: 35px;
    color: gray;
    text-align: center;
}

.date{
    position: relative;
    height: 70px;
    border: 1px solid #ececec;
}

.date-now,.date-num,.date-time,.date-what{
    display: block;
    position: absolute;
}

.date-now {
    left: 2px;
    top: 0px;
    width: 18px;
    text-align: center;
}

.date-what.show{
    top: -6px;
    right: -6px;
    width: 0px;
    height: 0px;
    border: 6px solid transparent;
    border-bottom-color: #ff6c60;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 	/* IE 9 */
    -moz-transform:rotate(45deg); 	/* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg);
}

.date-time{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.date-time ul{
    list-style: none;
    font-size: 12px;
    margin-bottom: 1px;
    margin-right: 1px;
}

.date-time ul li span{
    display: block;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

.date-time ul li{
    height: 15px;
    border-bottom: 1px solid white;
}

.date:hover{
    cursor: pointer;
}


@media screen and (min-width: 651px){
    .date-num{
        font-size: 15px;
        top: 4px;
        width: 60px;
        text-align: center;
    }
}

@media screen and (max-width: 650px){
    .date{
        position: relative;
        height: 50px;
    }

    .week-title{
        line-height: 20px;
    }

    .date-num{
        font-size: 16px;
        top: 5px;
        width: 52px;
        text-align: center;
    }

    .date-time ul li{
        height: 6px;
        width: 6px;
    }

    .date-time ul li span{
        display: none;
    }
}