.controls [class*="span"]{
    margin-left: 0;
}

.controls button{
    margin-right: 3px;
}

.btn,.text{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.btn{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #b3b3b3;
    border-image: none;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
}

.btn:focus{
    outline: none;
}

.btn-mini{
    font-size: 14px;
    border-radius: 2px;
}

/* 按钮的 radius 3px */
.btn-left-radius{
    border-radius: 3px 0px 0px 3px;
}

.btn-right-radius{
    border-radius: 0px 3px 3px 0px;
}

.text{
    border-style: none;
    outline: none;
    border: 1px solid #d0d0d0;
}

.text:focus{
    border: 1px solid lightblue;
    box-shadow: 0px 0px 5px lightblue;
}

textarea{
    resize: none;
}

.label {
    text-align: left;
    display: block;
}


